body{
    margin: 0;
    padding: 0;
}

.bg{
    margin: 0;
    padding: 0;
    background: url(./Img_1.png);
    position: relative;
    height: 100vh;
    background-size:cover ;
    background-repeat: repeat-x;
}

.car{
    padding-top: 69%;
    padding-left: 30%;
}


.bgtwo{
    height: 140px;
    width: 500%;
    background: url(./Img_02.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    animation: moveRight 15s linear infinite ;
}


@keyframes moveRight{
    from{
        background-position: 0 0;
    }to{
        background-position: -100% 0;
    }
}